/* Advertisement.css */

.news-ticker {
  width: 100%;
  overflow: hidden;
}

.news-ticker ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: inline-block;
  animation: ticker 25s linear infinite;
  /* Измените 10s на нужную скорость анимации */
  white-space: nowrap;
}

.news-ticker ul li {
  display: inline;
  padding-right: 150px;
  font-size: 34px;
}

@keyframes ticker {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-44.5%);
  }
}

